.login-page {
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 15vh 0;
}
.login-form{
  position:block;
}
.login-form .btn {
  height: 48px;
  text-transform: capitalize;
}

.login-form .align-center {
  display: flex;
  align-items: center;
}
.calender-element {
  border-right: #E6E6E6 solid 2px;
  min-width: 500px;
  padding-right: 15px;
}
.image-res{
  width: 100%;
  min-width: 30px;
  height: auto;
}
.login-form__body {
  display: inline-table;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #CC6464;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  max-height: 500px!important;
  margin-left: 5%;
}
.form-control {
  height: 48px;
}

@media only screen and (max-width: 994px) {
  .calender-element{
    display: none;
  }
  .login-form__body{
    width: 100%!important;
  }
}

a:link {
  color: rgb(255, 255, 255);
}
.login-page a{
  color: rgb(255, 255, 255);
}
.login-page a:visited {
  color: #00000000;
}
.login-page a:hover {
  color: #629bca;
}

::selection{
background: #629bca;
}
::-moz-selection{
background: #629bca;
}