@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root {
  --body-color: #D64E4E;
  --sidebar-color: #E6E6E6;
  --primary-color: #FFFFFF;
  --toggle-color: rgba(163, 154, 154, 0.2);
  --text-color: #000000;
  --text-color-light : #FAFAFA;
  --text-color-low : rgba(0, 0, 0, 0.5);
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  --card-border-radius: 1.3rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;
}

.center {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
