.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 300px;
    padding: 20px;
    background: #E6E6E6;
  z-index: 100;
}
.sidebar ul {
  padding: 0;
}
.menu-links>li {
  height: 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #202020;
}
.sidebar .icon {
  min-width: 50px;
  border-radius: 6px;
  height: 100%;
  font-size: 18px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 16px;
  white-space: nowrap;
  opacity: 1;
}

.sidebar li a {
  padding: 18px 10px;
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.icon,
.nav-text {
  display: inline-block;
}

.sidebar li a:hover {
  background-color: rgba(163, 154, 154, 0.2);
}

.sidebar .bi-inbox {
  color: #63A5D4;
}

.sidebar .bi-calendar-date {
  color: #5CA863;
}

.sidebar .bi-calendar3 {
  color: #8E68B4;
}

.sidebar .bi-grid {
  color: #AE6262;
}