/* .sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px;
  background: var(--sidebar-color);
  z-index: 100;
}

.sidebar.close {
  width: 310px;
}

.menu-links > ul > li {
  height: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #202020;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 18px;
  white-space: nowrap;
  opacity: 1;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
} */